<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row bg-primary"><h1 style="color:white; margin-left:40%;">File Uploader</h1></div>
  <div class="row" style="margin-top:3%"></div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-9">
      <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header bg-success"><h1 style="color:white; margin-left:40%;">Uploader Window</h1></div>
        <div class="card-body">
          <input type="file" multiple style="display:none" #chooseFile (change)="onFileSelected($event)">
          
          
            <div class=row *ngFor="let file of files">
                <div class="col-lg-8">
                    <label>{{file.file.name}}</label>
                </div>
                <div class="col-lg-2">
                  <div class="progress">
                    <div class="progress-bar bg-success" 
                    [ngStyle]="{'width':file.uploadProgress+'%'}"></div>
                  </div>
                </div>
                <div class="col-lg-2">                    
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                      <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-sm btn-outline-success" (click)="onUpload(file)">Upload</button>
                      </div>
                      <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-sm btn-outline-danger" (click)="onCancel(file)">Cancel</button>
                      </div>
                    </div>
                </div>
            </div>
          
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-outline-primary" (click)="chooseFile.click()">Select Files</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group" *ngIf="files.length>1">
              <button type="button" class="btn btn-outline-success">Upload All</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
  <div class="row"></div>
</div>
